<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Made One</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="favicon.ico">

        <link rel="stylesheet" href="/anncmnnt_css/style.css">

        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


        <link rel="stylesheet" href="/assets/css/slick/slick.css"> 
        <link rel="stylesheet" href="/assets/css/slick/slick-theme.css">
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/iconfont.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/bootsnav.css">

        <!-- xsslider slider css -->


        <!--<link rel="stylesheet" href="assets/css/xsslider.css">-->




        <!--For Plugins external css-->
        <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

        <!--Theme custom css -->
        <link rel="stylesheet" href="/assets/css/style.css">
        <!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/assets/css/responsive.css" />

        <script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse">


        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->


        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default bootsnav navbar-fixed">
            
                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->


                <div class="container">                     

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="assets/images/1logo.png" class="logo" alt="">
                            <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                        </a>

                    </div>
                    <!-- End Header Navigation -->

                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="announcement?currentpage=1">공지사항</a></li>
                            <li style="display: <%=admin[0]%>"><a href=<%=admin[1]%>>매장변경 신청서 목록</a></li>
                            <li style="display: <%=admin[0]%>"><a href=<%=admin[2]%>>회원가입 승인</a></li>                            
                            <li><a href="information_change">매장정보 변경 신청</a></li>
                            <li><a href="#">다운로드</a></li>
                            <li style="display: <%=login%>"><a href="/login">로그인</a></li>
                            <li style="display: <%=logout%>"><a href="#"><%=users%>님 마이페이지</a></a></li>
                            <li style="display: <%=logout%>"><a href="/logout">로그아웃</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div> 

            </nav>
            <br>
            <br>
            <br>
            <br>
          
                        
            <!-- 여기 -->
            <div class="board_wrap">
                <div class="board_title">
                    <strong>매장정보 변경 신청서</strong>                    
                </div>                
                <form action="/new-information_change/<%=users%>" method="post" class="board_write_wrap">
                    <div class="board_write">
                        <div class="title">
                            <dl>
                                <dt>제목</dt>
                                <dd><input name="title" type="text" placeholder="제목 입력""></dd>
                            </dl>
                        </div>                        
                        <div class="cont">
                            <dt>내용</dt>
                            <dd><textarea name="cont" placeholder="내용 입력" rows="13" cols="70"></textarea></dd>
                        </div>
                    </div>
                    <div class="bt_wrap">                        
                        <button class="on">등록</button>
                        <a href="#">취소</a>                        
                    </div>
                </form>
            </div>

            <hr/>

            <!-- 여기 -->

            


            <footer class="footer_wrap">
                <div class="footer_Sitemap">
                    <div class="footer_section">
                        <div class="text_no">회사정보</div>
                        <div class="text_list">회사명: (주)캡스톤</div>
                        <div class="text_list">사업자 등록 번호: 123-45-6789</div>
                        <div class="text_list">대표: 김스키</div>
                        <div class="text_list">주소: 충남 천안시 동남구 상명대길 31</div>
                    </div>
                    <div class="footer_section">
                        <div class="text_no">고객센터</div>
                        <div class="text_list">충남 천안시 동남구 상명대길 31</div>
                        <div class="text_list">1600-1600</div>
                        <div class="text_list">cstonefg@gmail.com</div>
                        <div class="text_list">운영시간 : 10:00 ~ 22:00</div>
                    </div>
                    <div class="footer_section">
                        <div class="text_no">링크</div>
                        <a href="#" target="_blank" style="text-decoration: none;">
                            <div class="text_list">서비스 소개</div>
                        </a>
                        <a href="#" target="_blank" style="text-decoration: none;">
                            <div class="text_list">이용 약관</div>
                        </a>
                        <a href="#" target="_blank" style="text-decoration: none;">
                            <div class="text_list">개인정보처리방침</div>
                        </a>
                    </div>
                </div>
            </footer>




        </div>

        <!-- JS includes -->

        <script src="/assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="/assets/js/vendor/bootstrap.min.js"></script>

        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.js"></script>
        <script src="/assets/js/jquery.easing.1.3.js"></script>
        <script src="/assets/css/slick/slick.js"></script>
        <script src="/assets/css/slick/slick.min.js"></script>
        <script src="/assets/js/jquery.collapse.js"></script>
        <script src="/assets/js/bootsnav.js"></script>



        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/main.js"></script>

    </body>
</html>

<!— https://www.youtube.com/watch?v=IOFpNI_TLqM —>
<!— https://www.youtube.com/watch?v=SxEVnwHsrDg —>